.singal-overhidden {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.word-wrap {
  word-break: break-word;
}

.multi-overhidden {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; //想显示多少行
  text-overflow: ellipsis;
  word-break: break-all;
}

.horizontal-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-evenly-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-column-between-center {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column-evenly-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.flex-column-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.safe-area {
  padding-bottom: constant(safe-area-inset-bottom); /*兼容 IOS<11.2*/
  padding-bottom: env(safe-area-inset-bottom); /*兼容 IOS>11.2*/
}
